.loan-name {
    font-weight: 500;
}

.loan-description {
    display: flex;
    margin-top: 20px;
}

.loan-amount {
    background-color: lightgray;
    border-radius: 0.5rem;
    padding: 5px 10px 5px 10px;
     box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.loan-top {
    display: flex;
    justify-content: space-between;
}

.loan-container {
    background-color: lightgray;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}