.budget-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to prevent overflow */
  }

  .expense-form-pair {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .expense-form-input {
    width: 12rem;
    margin: auto;
    height: 4rem;
  }

  .budget-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .form-button {
    background-color: rgb(171, 171, 232);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: white;
    width: 8rem;
    margin: auto;
  }

  .expenses-title {
    display: flex;
    justify-content: center;
    width: 25rem;
    margin: auto;
  }

  .form-button:hover {
    opacity: 0.7;
  }
  .expense-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  
  .budget-pie-container,
  .budget-expenses-container {
    width: calc(30% - 10px); /* Adjust width and margin as needed */
    margin-right: 20px; /* Adjust margin between components */
  }
  
  @media (max-width: 768px) {
    .budget-pie-container,
    .budget-expenses-container {
      width: 100%; /* Adjust width for smaller screens */
      margin-right: 0; /* Remove margin for smaller screens */
    }
  }
  