.friends-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.friends-title {
    font-size: 20pt;
    font-weight: 500;
}

.friend-form {
    display: flex;
}

.friend-form-button {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}