.expense-table-container {
    margin-left: 1rem;
}

.expense-table-title {
    display: flex;
    font-weight: 500;
    font-size: 14pt;
}

.edit-button {
    border-radius: 0.5rem;
    background-color: lightgray;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.delete-button {
    border-radius: 0.5rem;
    background-color: var(--color-danger);
    cursor: pointer;
    color: whitesmoke;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.action-row {
    display: flex;
}